.title {
  font-family: var(--portal-ui-font-family);
  font-weight: 700;
  letter-spacing: -0.03em;
}

.subtitle {
  color: var(--portal-ui-muted-text-color);
  font-size: var(--mantine-font-size-sm);
  text-align: center;
  margin-top: 5px;
}
