.resultsViewToggle {
  background-color: var(--portal-ui-accent-active-background);
  box-shadow: none;
}

.resultsViewToggleIndicator {
  background-color: var(--mantine-color-brand-6);
  border: 1px solid var(--mantine-color-brand-7);
  box-shadow: none;
}

.resultsViewToggleLabel {
  color: var(--portal-ui-text-color);
  font-weight: 600;
}

.resultsViewToggleLabel[data-active] {
  color: var(--mantine-color-white);
}
